<div class="jumbotron">
  <div class="container">
    <div class="col-md-12 center">
      <h1><%= image_tag('projekpediabackground.png') %></h1>
      <h2>The easiest way to find best freelancer engineer in Indonesia</h2>
    </div>
    <div class="col-md-offset-2 col-md-8">
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Cari Projek Atau Enginer.." aria-describedby="sizing-addon1">
        <span class="input-group-addon" id="sizing-addon1">Cari</span>
      </div>

    </div>

  </div>
</div>
