$bgDefault      : #fff;
$bgHighlight    : #ea993d;
$colDefault     : #ea993d;
$colHighlight       : #ffbbbc;
$colHighlight   : #f0f691;
.navbar-default {
  background-color: $bgDefault;
  // border-color: $bgHighlight;
  border-radius: 0px;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      background-color: #transparent;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}


// search form
.search-form input[type='text']{
  border-radius:0px;
  margin-top: 9px;
  height: 34px;
}
.search-form .form-group{
  display:inline-block;
  margin-bottom:0;
  vertical-align: middle;
}

.search-form .btn{
  border: 0px;
  border-radius:0px;
  margin-left:-5px;
  margin-top: 9px;
  height: 34px;
}
// end of search form
