<div class="jumbotron">
  <div class="container">
    <div class="center">
      <h1>Projekpedia</h1>
      <h2>The easiest way to find jobs and freelancer rentals in Indonesia</h2>
    </div>
   <%= render 'partition/filter' %>
  </div>
</div>
